{% extends "_base.html" %}
{%load static%}

{% block content %}

<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-lg btn-danger" id="sub">login</button>
</form>
    <p>
        you don't have an account? <a href="{% url 'account_signup' %}">Sign</a>
    </p>

<!-- the reson this style added here becuse the file style.css loaded befor the form loaded   -->
<link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />

<style>
    #id_login , #id_password{
    display: block;
    width: calc(100% - 20px);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-left: 20px;

    }
    #sub{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }


</style>

{% endblock content %}